p, h1, h2, h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.top-navigation-bar {
    background-color: #506474;
}

p.top-navigation-bar-right {
    padding-right: 1rem;
    color: white;
    text-align: end;
}

p.top-navigation-bar-left {
    padding-left: 1rem;
    color: white;
    text-align: start;
}

p.telephone-header {
    padding-right: 0rem;
    text-align: end;
}

div.news {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

div.posts {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #7d92a3;
}

p.post-fecha {
    color: rgb(92, 91, 91);
    font-style: italic;
}

a.top-navigation-bar {
    color: white;
}

div.login-container {
    color: white;
    padding-left: 24rem;
    padding-right: 24rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

div.login-form {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

